<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5 mt-5 container-login">
                <div class="login-wrap p-3 p-md-3 mb-5">
                    <div class="d-flex align-items-center justify-content-center">
                        <i class="bi bi-person-circle icon"></i>
                    </div>
                    <h3 class="text-center mb-4">Sign In</h3>
                    <form class="login-form" [formGroup]="formLogin" (ngSubmit)="btnLogin(formLogin.value)">
                        <div class="form-group mb-2">
                            <input type="text" class="form-control rounded-left" placeholder="Username" required
                                formControlName="username">
                        </div>
                        <div class="form-group d-flex mb-3">
                            <input type="password" class="form-control rounded-left" placeholder="Password" required
                                formControlName="password">
                        </div>
                        <div class="form-group mb-1">
                            <button [disabled]="!formLogin.valid" type="submit"
                                class="form-control btn btn-success rounded submit px-3">
                                Sign In
                            </button>
                        </div>
                        <div class="form-group text-center mb-1">
                            <b>&oacute;</b>
                        </div>
                        <div class="form-group text-center">
                            <button class="form-control btn btn-btn rounded px-3" type="button">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>